<html>
  <body>
         <h1 style=\"color: red;\"> This is test Website </h1>
         <h2> ipaddress: <%= node['ipaddress'] %></h2>
         <h2>hostname: <%= node['hostname'] %></h2>
  </body>
</html>

